@tailwind base;

/* custom base styles */
@layer base {
  body {
    height: 100vh;
    font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
